Binaries/*
DerivedDataCache/*
Intermediate/*
Saved/*
Build/*
Plugins/*

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Intermediate/CachedAssetRegistry.bin
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/Game.ini
Saved/Logs/Aura.log
